body{
    background-color: azure;
}

/* custom font  */
@font-face { font-family: 'LCD-SOLID'; src: url('./Fonts/LcdSolid-VPzB.ttf'); }

/* main */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/* calculator shell*/
#calcShell{
    box-sizing: content-box;
    width: 220px;
    height: 360px;
    background-color: rgb(39, 39, 37);
    margin: 2em;
    padding: .5em;
    border: solid;
    border-radius: .75em .75em 4em 4em;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

/* Screen Area*/

/* Title with model Number and MN image*/
span{
    font-size: 12px;
}

#img-title-model{
    height: 15px;
    width: 186px;
    text-align: left;

    display: flex;
    flex-direction: row;
}

img{
    width: 13px;
}

#brand-n-model{
    color: rgb (71, 76, 72);
    display: flex;
    justify-content: space-between;
    width: 173px;
    
}

#titleAndScreen{
    background-color: rgb(141, 162, 125);

    border: 10px;
    border-bottom: 20px;
    border-style: solid;
    border-color: black;
    border-radius: .5em;

    box-sizing: border-box;
    width: 220px;
    padding: 10px 0px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#numDisplay{
    height: 125px;
    width: 180px;
    background-color: rgb(149,160,106);
    border: 3px solid black;
    border-radius: .2em;
    font-family: LCD-SOLID;
}

.answer{
    display: flex;
    justify-content: flex-end;
}


/* ~~~~~~~~~~~BUTTONS~~~~~~~~~~ */

#calcBody{
    width: 170px;
    margin: 20px;
    text-align: center;
}

#numberRows{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

#clearRow{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}   

#clear{
    background-color: rgb(225,173,80);
    color: white;
    width: 35px;
    padding: 2px 15px 2px 15px;
    margin: 2px;
    border-radius: .4em .4em .4em .4em; 
    text-align: center;
    padding: 0px;
}

#equals{
    background-color: rgb(96, 152, 119);
    color: white;
    width: 35px;
    padding: 2px 15px 2px 15px;
    margin: 2px;
    border-radius: .4em .4em .4em .4em; 
    text-align: center;
    padding: 0px;
    
}


.calcButton{
    width: 35px;
    padding: 2px 15px 2px 15px;
    margin: 2px;
    border-radius: .4em .4em .6em .6em; 
    text-align: center;
    padding: 0px;

    background-color: rgb(188, 183, 167);
    color: rgb(30, 29,27);
}



.funcButton{
    width: 35px;
    padding: 2px 15px 2px 15px;
    margin: 2px;
    border-radius: .4em .4em .4em .4em; 
    text-align: center;
    padding: 0px;

    background-color: rgb(71, 77, 119);
    color: white;
}


